<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->


    <a th:href="@{/city/add}" >Thêm thành phố</a>
<div class="container">
    <div class="row">
        <div class="span12">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Thành phố</th>
                    <th>Quốc gia</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c: ${cities}">
                    <td th:text="${c.id}"></td>
                    <td><a th:text="${c.name}" th:href="@{/city/detail/{id}(id=${c.id})}" ></a></td>
                    <td th:text="${c.country.name}"></td>
                    <td ><a th:href="@{/city/edit/{id}(id=${c.id})}">edit</a></td>
                    <td ><a th:href="@{/city/delete/{id}(id=${c.id})}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>